<div class="well" id="login-field">

  <%= form_for(:session, url: login_path) do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :verify_password %>
    <%= f.password_field :verify_password %>

    <%= f.submit "Login", class: "btn btn-primary" %>
    <%= f.submit "Sign Up", class: "btn btn-default" %>
  <% end %>
</div>
