<div class="well" id="login-field">

  <%= form_for(target, url: path) do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>
    <% if path == "/users" %>
    <%= f.label :verify_password %>
    <%= f.password_field :verify_password %>
    <% end %>
    <%= f.submit button, class: "btn btn-primary" %>
  <% end %>
</div>
